.invitation {
  width: 100%;
  border-radius: 0.8rem;
  position: relative;
  background-color: $white;

  &-title {
    @include text-style(2.4, 700, $black-200);
    padding-top: 3.2rem;
    padding-left: 2.8rem;

    @include responsive("M") {
      @include text-style(2, 700, $black-200);
      padding-top: 2.4rem;
      padding-left: 1.6rem;
    }
  }
}

.loding-container {
  width: 100%;
  @include flexbox();
}
