.mydashboard-container {
  background-color: $gray-100;
  min-height: 100vh;
}

.mydashboard {
  @include column-flexbox(center, stretch);
  gap: 4.4rem;
  max-width: 102.2rem;
  padding-top: 4rem;
  padding-left: 4rem;

  @include responsive("T") {
    width: calc(100% - 8rem);
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 11.7rem;
  }

  @include responsive("M") {
    width: calc(100% - 4.8rem);
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
