.mypage-container {
  &-change-password {
    padding: 3.2rem 2.8rem 2.8rem 2.8rem;

    width: 62rem;
    border-radius: 0.8rem;
    background: $white;

    @include responsive("T") {
      width: 54.4rem;
    }

    @include responsive("M") {
      width: 100%;
    }

    .title {
      @include text-style(2.4, 700, $black-200);

      @include responsive("M") {
        @include text-style(2, 700, $black-200);
      }
    }

    .contents {
      @include flexbox(start, none);
      gap: 1.6rem;
      margin-top: 3.2rem;
      margin-bottom: 2.4rem;

      @include responsive("M") {
        @include column-flexbox(center, none);
      }

      &-input-area {
        flex: 1;

        &.input-gap {
          @include column-flexbox(none, none);
          gap: 2rem;
        }
      }

      &-btn {
        @include flexbox(end, center);

        button {
          width: 8.4rem;
        }
      }
    }
  }
}
