
@mixin button-style($bg-color, $border-color, $text-color) {
  background-color: $bg-color;
  padding: 0.7rem 0;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 0.4rem;
  gap: 0.8rem;

  @include text-style(1.4, 500, $text-color);
  @include flexbox;
  @include responsive("M") {
    font-size: 1.2rem;
    & img {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

.mypage-container {
  &-profile {
    margin-bottom: 1.2rem;
    padding: 3.2rem 2.8rem 2.8rem 2.8rem;
    width: 62rem;
    border-radius: 0.8rem;
    background: $white;

    @include responsive("T") {
      width: 54.4rem;
    }

    @include responsive("M") {
      width: 100%;
    }

    .title {
      @include text-style(2.4, 700, $black-200);

      @include responsive("M") {
        @include text-style(2, 700, $black-200);
      }
    }

    .contents {
      @include flexbox(start, none);
      gap: 1.6rem;
      margin-top: 3.2rem;
      margin-bottom: 2.4rem;

      @include responsive("M") {
        @include column-flexbox(center, none);
      }

      &-upload-area {

        @include column-flexbox(center, center);
        gap: 1rem;

        @include responsive("M") {
        }
      }

      &-upload-image {
        @include flexbox;
        position: relative;
        width: 18.2rem;
        height: 18.2rem;

        cursor: pointer;


        @include responsive("M") {
          width: 10rem;
          height: 10rem;

        }

        img {
          border-radius: 50%;
        }


        .lable-file-type {
          @include flexbox(center, center);
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(245, 245, 245, 1);
          width: 18.2rem;
          height: 18.2rem;
          border-radius: 50%;

          @include responsive("M") {
            width: 10rem;
            height: 10rem;
          }
        }

        &:hover .lable-file-type {
          opacity: 0.5;
        }

      }

      &-basic-image {
        position: relative;
        width: 18.2rem;
        height: 18.2rem;
        border-radius: 50%;
        background-color: #ffc85a;
        cursor: pointer;

        .lable-file-type {
          @include flexbox(center, center);
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(245, 245, 245, 1);
          width: 18.2rem;
          height: 18.2rem;
          border-radius: 50%;

          @include responsive("M") {
            width: 10rem;
            height: 10rem;
          }
        }

        &:hover .lable-file-type {
          opacity: 0.5;
        }


        .nickname {
          @include pos-center(absolute);
          @include text-style(3, 600, $white);
        }


        @include responsive("M") {
          width: 100%;
          height: 100%;
        }
      }

      .upload-image-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        @include button-style($white, $gray-300, $violet);
        cursor: pointer;

        &:hover {
          background-color: $violet-100;
        }
      }

      .basic-image-btn {
        @include button-style($white, $gray-300, $gray-500);
        padding: 1rem;
        cursor: pointer;

        &:hover {
          background-color: $gray-200;
        }
      }

      &-input-area {
        @include column-flexbox(none, none);
        gap: 2rem;
        flex: 1;

        &.input-gap {
          @include column-flexbox(none, none);
          gap: 2rem;
        }

        &-email {
          @include column-flexbox(none, none);
          gap: 0.8rem;

          .label {
            @include text-style(1.6, 400, $black-200);
          }

          .input-box {
            @include text-style(1.6);

            width: 100%;
            height: 5rem;
            padding: 1.5rem 1.6rem;
            border-radius: 0.8rem;
            background-color: $gray-200;
            color: $gray-400;
          }
        }
      }

      &-btn {
        @include flexbox(end, center);

        button {
          width: 8.4rem;
        }
      }
    }
  }
}

