@mixin button-style($bg-color, $border-color, $text-color) {
  background-color: $bg-color;
  padding: 0.7rem 2.9rem;
  border: 1px solid $border-color;
  border-radius: 0.4rem;
  gap: 0.8rem;

  @include text-style(1.4, 500, $text-color);
  @include flexbox;
  @include responsive("M") {
    font-size: 1.2rem;
    & img {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

.accept {
  @include button-style($violet, transparent, $white);

  &:hover {
    background-color: #342e9a;
  }
}

.reject {
  @include button-style($white, $gray-300, $violet);

  &:hover {
    background-color: $violet-100;
  }
}

.cancel {
  @include button-style($white, $gray-300, $gray-500);

  &:hover {
    background-color: $gray-200;
  }
}

.delete {
  @include button-style($white, $gray-300, $black);

  &:hover {
    background-color: $red;
    color: $white;
    border: none;
  }
}
