.btn {
  @include flexbox();
  @include text-style(1.8, 500, $white);

  width: 100%;
  padding: 1.4rem;
  border-radius: 0.8rem;
  background-color: $violet;

  &:hover {
    background-color: #342e9a;
  }

  &.disabled {
    background-color: $gray-400;

    &:hover {
      background-color: $gray-500;
    }
  }
}
