.modal-background {
  @include pos-center(fixed);

  background-color: rgba($color: $black, $alpha: 0.7);
  width: 100vw;
  height: 100vh;
}

.modal-container {
  @include pos-center(absolute);

  background-color: $white;
  padding: 3.2rem 2.8rem;
  border-radius: 0.8rem;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 90%;
  }
}
