.modal-background {
  @include pos-center(fixed);

  background-color: rgba($color: $black, $alpha: 0.7);
  width: 100%;
  height: 100%;
}

.modal-container {
  @include pos-center(absolute);
  overflow-y: auto;
  max-height: 90vh;
  max-width: 54rem;

  background-color: $white;
  padding: 3.2rem 2.8rem;
  border-radius: 0.8rem;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  @media screen and (max-width: $mobile-breakpoint) {
    width: 90%;
  }
}
