.cards {
  @include column-flexbox(start, stretch);
  gap: 1.6rem;

  @include responsive("M") {
    gap: 1rem;
  }
}

.card {
  padding: 2rem;
  border: 1px solid $gray-300;
  border-radius: 0.6rem;
  background-color: $white;
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-areas:
    "image"
    "title"
    "flex-outer";

  @include responsive("T") {
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "image title"
      "image flex-outer";
    row-gap: 1rem;
  }

  @include responsive("M") {
    padding: 1.2rem;
    grid-template-columns: none;
    grid-template-areas:
      "image"
      "title"
      "flex-outer";
    row-gap: 0;
  }

  &-img {
    width: 100%;
    height: 16rem;
    margin-bottom: 1.2rem;
    position: relative;
    border-radius: 0.6rem;
    overflow: hidden;
    grid-area: image;

    @include responsive("T") {
      width: 9rem;
      height: 100%;
      margin-bottom: 0;
      margin-right: 2rem;
    }

    @include responsive("M") {
      width: 100%;
      height: 15.18rem;
      margin-bottom: 1rem;
    }
  }

  &-title {
    @include text-style(1.6, 500, $black-200);
    margin-bottom: 1rem;
    grid-area: title;

    @include responsive("T") {
      margin-bottom: 0;
    }

    @include responsive("M") {
      @include text-style(1.4, 500, $black-200);
      margin-bottom: 0.6rem;
    }
  }

  &-tag {
    @include flexbox(start, normal);
    gap: 0.6rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    @include responsive("T") {
      margin-bottom: 0;
    }

    span {
      border-radius: 0.4rem;
      overflow: hidden;
    }
  }

  &-date {
    @include flexbox(start, center);
    gap: 0.6rem;

    @include responsive("M") {
      gap: 0.4rem;
    }

    &-img {
      display: inline-block;
      width: 1.8rem;
      height: 1.8rem;
      position: relative;

      @include responsive("M") {
        width: 1.4rem;
        height: 1.4rem;
      }
    }

    &-text {
      @include text-style(1.2, 500, $gray-500);

      @include responsive("M") {
        @include text-style(1, 500, $gray-500);
      }
    }
  }

  &-profile {
    @include flexbox();
    justify-self: end;

    &-img {
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

.flex-box-inner {
  @include flexbox(between, center);
  align-self: end;
  width: 100%;
}

.flex-box-outer {
  @include column-flexbox(start, start);
  grid-area: flex-outer;

  @include responsive("T") {
    @include flexbox(start, center);
    flex-direction: row;
    gap: 1.6rem;
  }

  @include responsive("M") {
    @include column-flexbox(start, start);
    gap: 0.6rem;
  }
}
