.header {
  @include flexbox(between, center);

  &-img {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    position: relative;

    @include responsive("M") {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  &-title {
    @include flexbox(stretch, center);

    &-dot {
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: $violet;
    }

    &-text {
      @include text-style(1.8, 700, $black-200);
      padding-right: 1.2rem;
      padding-left: 0.8rem;

      @include responsive("M") {
        @include text-style(1.6, 700, $black-200);
      }
    }

    &-count {
      @include text-style(1.2, 500, $gray-500);
      @include flexbox();
      width: 2rem;
      height: 2rem;
      padding: 0.3rem 0.6rem;
      background-color: $gray-200;
      border-radius: 0.4rem;
    }
  }
}
