.column {
  @include column-flexbox(start, start);
  width: 35.4rem;
  height: 100%;
  padding: 2.2rem 2rem 0 2rem;
  border-right: 0.1rem solid $gray-200;

  @include responsive("T") {
    width: 100%;
    height: auto;
    padding: 2.2rem 2rem 2rem;
    border-right: none;
    border-bottom: 0.1rem solid $gray-200;
    scrollbar-gutter: stable;
  }

  @include responsive("M") {
    padding: 1.7rem 1.2rem 1.2rem;
  }

  &-header {
    margin-bottom: 2.5rem;
    width: 100%;

    @include responsive("M") {
      margin-bottom: 1.8rem;
    }
  }

  &-pages {
    @include column-flexbox(start, stretch);
    gap: 1.6rem;
    width: 100%;
    margin-top: 1.6rem;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    @include responsive("T") {
      max-height: 21rem;
      -webkit-overflow-scrolling: touch;
    }

    @include responsive("M") {
      max-height: 36.2rem;
      margin-top: 1rem;
      gap: 1rem;
    }

    &-end {
      height: 0.1rem;
      flex-shrink: 0;
    }
  }
}
