.dashboard-btn {
  overflow: hidden;
  width: 100%;
  height: 7rem;
  border: 0.1rem solid $gray-300;
  border-radius: 0.8rem;
  background-color: $gray-100;

  @include responsive("M") {
    height: 5.8rem;
  }
}

.line {
  position: relative;
  width: 5rem;
  height: 100%;

  @keyframes loading {
    0% {
      transform: translateX(-200%);
    }
    50%,
    100% {
      transform: translateX(200%);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50rem;
    height: 100%;
    background: linear-gradient(to right, $gray-100, $gray-200, $gray-100);
    animation: loading 3s infinite linear;
  }
}
