.dashboard-btn {
  @include flexbox(between, center);
  width: 100%;
  padding: 2.6rem 2rem;
  border: 0.1rem solid $gray-300;
  border-radius: 0.8rem;
  background-color: $white;

  @keyframes moveX {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  &:hover {
    & > img {
      animation: moveX 0.8s ease-in-out infinite;
    }
    background-color: $violet-100;
  }

  @include responsive("T") {
    padding: 2.5rem 2rem;
  }

  @include responsive("M") {
    padding: 2rem 2rem;
  }
}
