.grid {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar content";
  scrollbar-gutter: stable;

  @include responsive("T") {
    grid-template-columns: 16.8rem 1fr;
  }

  @include responsive("M") {
    grid-template-columns: 6.7rem 1fr;
  }

  &-sidebar {
    grid-area: sidebar;
  }

  &-navbar {
    grid-area: navbar;
  }

  &-content {
    grid-area: content;
    overflow: hidden;
  }
}
