.main {
  background-color: $gray-100;
  height: auto;
  padding: 2rem 2rem 5.6rem;

  @include responsive("T") {
    padding-bottom: 4.8rem;
  }
  @include responsive("M") {
    padding-bottom: 2rem;
  }
}

.dashborad-delete-btn {
  & button {
    width: 32rem;
  }
}

.backforward {
  @include flexbox(start, center);
  @include text-style(1.6, 400, $black-200);
  margin-bottom: 2.5rem;

  > :first-child {
    transform: scaleX(-1);
  }
}
