.dashboard-btn-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.3rem 1.2rem;

  @include responsive("T") {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  @include responsive("M") {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.8rem;
  }
}

.page-change {
  @include flexbox(end, center);
  gap: 1.6rem;
  margin-top: 1.2rem;

  @include responsive("T") {
    margin-top: 1rem;
  }

  @include responsive("M") {
    margin-top: 0.8rem;
  }

  &-text {
    @include text-style(1.4, 400, $black-200);
  }

  &-btn {
    @include flexbox();
  }
}
