.modal-container {
  @include pos-center(fixed);
  overflow-y: auto;
  max-height: 90vh;
  max-width: 54rem;

  background-color: $white;
  padding: 3.2rem 2.8rem;
  border-radius: 0.8rem;
  z-index: $modal;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  @media screen and (max-width: $mobile-breakpoint) {
    width: 90%;
  }
}

.title {
  @include text-style(2.4, 700, $black-200);
  margin-bottom: 3.2rem;
}

.form {
  @include column-flexbox(start, end);
  width: 44rem;
  gap: 1.8rem;

  @include responsive("M") {
    width: 100%;
  }
}

.dropdown-line {
  @include flexbox(start);
  width: 100%;
  gap: 1.6rem;
}

.btn-line {
  @include flexbox(end, end);
  gap: 1.2rem;
  width: 100%;

  & button {
    width: 12rem;

    @include responsive("M") {
      width: 100%;
    }
  }
}
