.modal-container {
  @include pos-center(fixed);
  overflow-y: auto;
  max-height: 90vh;
  max-width: 54rem;

  background-color: $white;
  padding: 3.2rem 2.8rem;
  border-radius: 0.8rem;
  z-index: $modal;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    width: 90%;
  }
}

.title {
  @include text-style(2.4, 700, $black-200);
  margin-bottom: 3.2rem;
}

.form {
  @include column-flexbox(start, start);
  width: 44rem;
  gap: 1.8rem;

  @include responsive("M") {
    width: 100%;
  }
}

.input-file-upload {
  width: 100%;
  position: relative;

  // & .existed {
  //   content: \2713;
  // }
}

.input-file-img {
  position: absolute;
  top: 2.6rem;
  border-radius: 0.6rem;

  &:hover {
    opacity: 0.2;
  }

  // &.existed {
  //   filter: brightness(50%);
  // }
}

.dropdown-line {
  @include flexbox(start);
  width: 100%;
  gap: 1.6rem;

  &.add {
    width: 50%;
  }
}

.tag-list {
  @include flexbox(start);
  width: 100%;
  gap: 0.8rem;
  border-radius: 0.8rem;
  border: 0.1rem solid $gray-300;
  height: 5rem;
  padding: 1.5rem 0.8rem;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &-label {
    @include text-style(1.8, 500, $black-200);
    width: 100%;
    margin-bottom: -1rem;
  }

  & input {
    @include text-style(1.6);
    min-width: 5rem;
    flex-shrink: 2;

    border: none;

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
  }

  & input::placeholder {
    color: $gray-400;
  }
}

.tag {
  border-radius: 0.4rem;
  overflow: hidden;
  flex-shrink: 0;
}

.btn-line {
  @include flexbox(end, end);
  gap: 1.2rem;
  width: 100%;
  margin-top: 2.8rem;

  & button {
    width: 12rem;

    @include responsive("M") {
      width: 100%;
    }
  }
}
