.dropdown-area {
  @include column-flexbox(start, start);
  gap: 1rem;
  position: relative;
  width: 50%;
}

.close {
  display: none !important;
}

.label {
  @include text-style(1.8, 500, $black-200);
  cursor: pointer;
}

.input {
  @include flexbox(start, center);
  @include text-style(1.6);

  width: 100%;
  height: 5rem;
  padding: 1.5rem 1.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid $gray-300;

  &:focus {
    outline: none;
    border: 0.1rem solid $violet;
  }

  &.error {
    border: 0.1rem solid $red;
  }

  &.search {
    padding-left: 4.8rem;
  }
}

.input::placeholder {
  color: $gray-400;
}

.dropdown-btn {
  cursor: pointer;
  position: absolute;
  bottom: 1.25rem;
  right: 1rem;
}

.members {
  @include column-flexbox(center, start);
  width: 100%;
  padding: 0.65rem 0;

  position: absolute;
  top: 8.5rem;

  background-color: $white;
  border-radius: 0.6rem;
  border: 1px solid $gray-300;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.list-item {
  width: 100%;
}

.list-item-btn {
  @include flexbox(start, center);
  gap: 0.8rem;
  padding: 0.65rem 3.6rem;
  width: 100%;

  & .selected {
    position: absolute;
    left: 0.8rem;
    filter: brightness(60%);
  }

  & .member-profileImg {
    border-radius: 99rem;
  }
}
