.container {
  @include column-flexbox();
  gap: 1rem;
}

.logo {
  @include column-flexbox();
  gap: 3rem;
  @include responsive("M") {
    gap: 1.8rem;
  }

  & > :first-child {
    margin-left: 3.5rem;
    @include responsive("M") {
      margin-left: 2rem;
      width: 9.9rem;
      height: 11.4rem;
    }
  }

  & > :nth-child(2) {
    @include responsive("M") {
      width: 11.9rem;
      height: 3.3rem;
    }
  }
}

.welcome-message {
  @include text-style(2, 500, $black-200);
}
