.description-tag-list {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
}

.description-tag {
  display: flex;
  padding: 0.4rem 0.6rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &-item {
    font-size: 1.2rem;
    white-space: nowrap;

    @include responsive("M") {
      font-size: 1rem;
    }
  }
}
