.page-change-btn {
  @include flexbox();
  padding: 1.2rem;
  border: 1px solid $gray-300;
  border-radius: 4px 0px 0px 4px;
  background-color: $white;

  &.forward {
    border-radius: 0px 4px 4px 0px;
  }

  &:hover {
    background-color: $gray-200;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.page-change-btn-svg {
  filter: invert(5%) sepia(3%) saturate(261%) hue-rotate(314deg) brightness(97%) contrast(91%);
}
