.navbar {
  @include flexbox(between, center);
  padding: 2.3rem 8rem 2.3rem 4rem;
  width: 100%;
  border-bottom: 0.1rem solid #d9d9d9;

  @include responsive("T") {
    @include flexbox(end, center);
    padding: 1.7rem 4rem 1.7rem 0;
  }

  @include responsive("M") {
    padding: 1.5rem 1.2rem 1.5rem 0;
  }

  @media only screen and (max-width: 422px) {
    @include flexbox(between, center);
  }

  &-title {
    @include flexbox(start, center);
    gap: 0.8rem;
    flex: 1;

    @include text-style(2, 700, $black-200);
    @include responsive("T") {
      display: none;
    }

    .dashboard-name {
      @include text-style(2, 700, $black-200);
    }
    .created-icon {
      display: inline-block;
      position: relative;
      width: 2rem;
      height: 1.6rem;
    }
  }

  &-utils {
    @include flexbox;
  }

  &-action-btns {
    @include flexbox;
    gap: 1.6rem;
    padding-right: 4rem;

    @include responsive("T") {
      gap: 1.2rem;
      padding-right: 3.2rem;
    }

    @include responsive("M") {
      gap: 0.6rem;
      padding: 0 1.6rem;
    }

    .manage,
    .invite {
      @include flexbox;
      gap: 0.8rem;
      padding: 1rem 1.6rem;
      border-radius: 0.8rem;
      border: 0.1rem solid $gray-300;

      @include responsive("M") {
        padding: 0.7rem 1.2rem;

        .img {
          display: none;
        }
      }

      .text {
        @include text-style(1.6, 500, $gray-500);

        @include responsive("T") {
          @include text-style(1.4, 500, $gray-500);
        }

        @include responsive("M") {
          white-space: nowrap;
        }
      }
    }
  }

  &-member {
    @include flexbox;
    border-right: 1px solid $gray-300;

    &-list {
      width: 3.8rem;
      height: 3.8rem;
      border: 0.2rem solid $white;
      border-radius: 50%;
      background-color: #ffc85a;

      &-img {
        border-radius: 50%;
      }

      &-nickname {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include text-style(1.6, 600, $white);
      }

      &-count {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include text-style(1.6, 500, #d25b68);
      }
    }
  }
  &-user {
    @include flexbox;
    gap: 0.9rem;
    position: relative;
    margin-left: 3.8rem;
    cursor: pointer;

    @include responsive("M") {
      margin-left: 1.2rem;
    }

    &-circle {
      position: relative;
      width: 3.8rem;
      height: 3.8rem;
      border: 0.2rem solid $white;
      border-radius: 50%;
      background-color: #ffc85a;

      &-nickname {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include text-style(1.6, 600, $white);
      }
    }
    &-name {
      @include text-style(1.6, 500, $black-200);

      @include responsive("M") {
        display: none;
      }
    }

    &-dropdown-menu {
      position: absolute;
      top: 5rem;
      left: 0;
      padding: 1rem 2rem;
      background-color: white;
      border: 1px solid #ddd;
      z-index: 1;

      @include responsive("M") {
        left: auto;
        right: 0;
      }

      &::before {
        content: "";
        @include pos-center-x(absolute);
        top: -8px;

        border-color: #ddd transparent;
        border-style: solid;
        border-width: 0 6px 8px 6.5px;

        @include responsive("M") {
          left: auto;
          right: 0.5rem;
        }
      }

      &::after {
        content: "";
        display: block;
        left: 75px;
        @include pos-center-x(absolute);
        top: -7px;
        transform: translateX(-50%);
        border-color: #fff transparent;
        border-style: solid;
        border-width: 0 6px 8px 6.5px;

        @include responsive("M") {
          left: auto;
          right: 0.5rem;
        }
      }

      button {
        width: 100%;
        text-align: center;
      }

      .text {
        @include text-style(1.4, 600, $black-200);
        line-height: 3;
        white-space: nowrap;
        &:hover {
          color: $purple;
        }
      }
    }
  }
}
