.modal-container {
  @include pos-center(fixed);

  overflow-y: auto;
  max-height: 90vh;
  max-width: 54rem;

  background-color: $white;
  padding: 3.2rem 2.8rem;
  border-radius: 0.8rem;
  z-index: $modal;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  @media screen and (max-width: $mobile-breakpoint) {
    width: 90%;
  }
}

.title {
  @include text-style(2.4, 700, $black-200);
  margin-bottom: 3.2rem;
}

.form {
  width: 48.4rem;

  @include responsive("M") {
    width: 100%;
  }
}

.btn-line {
  @include flexbox(end, end);
  margin-top: 2.8rem;
  gap: 1.2rem;

  & button {
    width: 12rem;
    @include responsive("M") {
      width: 100%;
    }
  }
}

.delete-column-btn {
  @include text-style(1.4, 400, $gray-400);

  position: absolute;
  bottom: 3.5rem;
  text-decoration: underline;

  @include responsive("M") {
    bottom: 10rem;
  }
}

.delete-message {
  @include flexbox(center);
  @include text-style(1.8, 500, $black-200);
  width: 48.4rem;
  padding: 8rem 0 4rem;
}
