.container {
  @include pos-center();
  z-index: $modal;
  width: 100%;
  max-width: 54rem;
  min-height: 25rem;
  border-radius: 8px;
  background-color: $white;

  & h2 {
    @include pos-center();
    color: $black-200;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.button {
  position: absolute;
  bottom: 2.8rem;
  right: 2.8rem;
  width: 12rem;
}
