.container {
  @include pos-center();
  z-index: $modal;
  width: 100%;
  max-width: 54rem;
  min-height: 25rem;
  border-radius: 8px;
  background-color: $white;

  @include responsive("M") {
    max-width: 33rem;
    min-height: 22rem;
  }

  & h2 {
    @include pos-center();
    color: $black-200;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;

    @include responsive("M") {
      font-size: 1.6rem;
      transform: translate(-50%, -150%);
    }
  }
}

.button {
  position: absolute;
  bottom: 2.8rem;
  right: 2.8rem;
  width: 12rem;

  @include responsive("M") {
    right: 9.5rem;
    width: 13.8rem;
    height: 4.2rem;
  }
}
