.card {
  @include pos-center();
  overflow: scroll;
  z-index: $modal;
  max-width: 73rem;
  max-height: 90vh;
  width: 73rem;
  padding: 3.2rem 2.8rem 3.2rem;
  border-radius: 0.8rem;
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr 20rem;
  grid-template-areas:
    "header header"
    "content box"
    "textarea box"
    "comments box";
  gap: 2.4rem;

  &::-webkit-scrollbar {
    display: none;
  }

  @include responsive("T") {
    max-height: 80vh;
    width: calc(100% - 6.4rem);
    grid-template-columns: 1fr 18rem;
    -webkit-overflow-scrolling: touch;
  }

  @include responsive("M") {
    width: calc(100% - 4.8rem);
    padding: 1.4rem 2rem 2.8rem;
    grid-template-columns: 1fr;

    grid-template-areas:
      "header"
      "box"
      "content"
      "textarea"
      "comments";
    gap: 1.6rem;
  }

  &-header {
    grid-area: header;
  }

  &-content {
    grid-area: content;
    white-space: wrap;
  }

  &-box {
    grid-area: box;
  }

  &-textarea {
    grid-area: textarea;
  }

  &-comments {
    grid-area: comments;
    overflow: scroll;
    max-height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &::-webkit-scrollbar {
      display: none;
    }

    @include responsive("T") {
      -webkit-overflow-scrolling: touch;
    }
  }

  &-ref {
    height: 0.1rem;
    flex-shrink: 0;
  }
}
