.dashboard {
  @include flexbox(stretch, center);
  flex: 0 0 auto;
  width: 95%;

  &.sidebar {
    @include responsive("M") {
      @include flexbox(center, center);
    }
  }

  &-dot {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    flex: inherit;
    border-radius: 50%;
  }

  &-title {
    @include text-style(1.6, 600, $black-200);
    overflow: hidden;
    white-space: nowrap;
    max-width: 15rem;
    text-overflow: ellipsis;
    padding-left: 1.6rem;
    padding-right: 0.8rem;

    @include responsive("T") {
      padding-left: 1.2rem;
      padding-right: 0.6rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 15ch;
    }

    @include responsive("M") {
      @include text-style(1.4, 600, $black-200);
      padding-right: 0.4rem;
      max-width: 20rem;
    }

    &.sidebar {
      @include text-style(1.8, 500, $gray-500);
      padding-right: 0.6rem;

      @include responsive("T") {
        @include text-style(1.6, 500, $gray-500);
        padding-right: 0.4rem;
      }

      @include responsive("M") {
        display: none;
      }
    }
  }

  &-icon {
    display: inline-block;
    width: 2rem;
    height: 1.6rem;
    flex: inherit;
    position: relative;

    &.sidebar {
      width: 1.75rem;
      height: 1.4rem;

      @include responsive("T") {
        width: 1.5rem;
        height: 1.2rem;
      }

      @include responsive("M") {
        display: none;
      }
    }
  }
}
