.dashborad-edit-box {
  @include column-flexbox(start, start);
  gap: 0.5rem;
  width: 62.5rem;

  border-radius: 0.8rem;
  background: $white;
  margin-bottom: 1.2rem;

  @include responsive("T") {
    width: 100%;
  }
}

.title-line {
  @include flexbox(between, center);
  padding: 3.2rem 2.8rem;
  width: 100%;

  @include responsive("M") {
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-bottom: -0.5rem;
  }
}

.title {
  @include text-style(2, 700, $black-200);
}

.edit-form {
  @include column-flexbox(start, end);
  padding: 0 2.8rem 3.2rem;
  gap: 2.2rem;
  width: 100%;

  & button {
    width: 8.4rem;

    @include responsive("M") {
      margin-top: 0rem;
    }
  }
}
