.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $black;
}

.container {
  @include column-flexbox();
  width: 400px;
  height: 100vh;
  margin: 0 auto;

  @include responsive("M") {
    width: 100%;
    padding: 0 2rem;
  }
}

.errorCodeFont {
  @include text-style(20, 700, $violet);

  @include responsive("M") {
    font-size: 10rem;
  }
}

.errorFont {
  @include text-style(2, 400, $white);

  @include responsive("M") {
    font-size: 1.5rem;
  }
}

.gap {
  @include column-flexbox();
  width: 100%;
  gap: 20px;
}

.btnContainer {
  width: 100%;

  & button {
    @include responsive("M") {
      font-size: 1.5rem !important;
    }
  }
}
