.column {
  width: 35.4rem;
  height: 100vh;
  padding: 2.2rem 2rem 0 2rem;
  border-right: 0.1rem solid $gray-200;

  @include responsive("T") {
    width: 100%;
    height: auto;
    padding: 2.2rem 2rem 2rem;
    border-right: none;
    border-bottom: 0.1rem solid $gray-200;
  }

  @include responsive("M") {
    padding: 1.7rem 1.2rem 1.2rem;
  }

  &-header {
    margin-bottom: 2.5rem;

    @include responsive("M") {
      margin-bottom: 1.8rem;
    }
  }

  &-cards {
    margin-top: 1.6rem;

    @include responsive("M") {
      margin-top: 1rem;
    }
  }
}
