.comments-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include responsive("M") {
    gap: 1.4rem;
  }
}

.container-1 {
  display: flex;
  gap: 1rem;
}

.container-3 {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.nickname {
  @include text-style(1.4, 600, $black-200);

  @include responsive("M") {
    font-size: 1.2rem;
  }
}

.createdAt {
  @include text-style(1.2, 400, $gray-400);

  @include responsive("M") {
    font-size: 1rem;
  }
}

.content {
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
  @include text-style(1.4, 400, $black-200);
  word-break: break-all;

  @include responsive("M") {
    font-size: 1.2rem;
  }
}

.container-4 {
  display: flex;
  gap: 1.2rem;
  @include text-style(1.2, 400, $gray-400);

  @include responsive("M") {
    font-size: 1rem;
  }
}

.profileImage {
  @include responsive("M") {
    width: 2.6rem;
    height: 2.6rem;
  }
}

.edit {
  text-decoration-line: underline;
}

.delete {
  text-decoration-line: underline;
}
