.dashboard-btn {
  @include flexbox(between, center);
  width: 100%;
  padding: 2.6rem 2rem;
  border: 0.1rem solid $gray-300;
  border-radius: 0.8rem;
  background-color: $white;

  @include responsive("T") {
    padding: 2.5rem 2rem;
  }

  @include responsive("M") {
    padding: 2rem 2rem;
  }
}
